<h1>Title: <%= @review.title %></h1>
<h2>By: <%= link_to @review.user.username, user_path(@review.user) %></h2>

<div class="content"><%= @review.content %></div>



<p><%= link_to "Add a new Comment", new_review_comment_path(@review) %></p><br>
<% if !@review.comments.empty? %>
<div>
<h4>Comments:</h4>
<% @review.comments.first(3).each do |t| %>
<p><strong><%= t.user.username %> says "<%= link_to t.content, review_comment_path(@review, t)%>"</p>
<% end %>
<p><%= link_to "See all comments for the #{@review.title}", review_comments_path(@review)%></p>

<% else %>
<p><strong>No Comments have been made about the <%= @review.title%> yet.</p>
<% end %>
</div>
